USE [master]
GO
/****** Object:  Database [TaskManagementDB]    Script Date: 4/17/2026 1:02:53 AM ******/
CREATE DATABASE [TaskManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TaskManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TaskManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[Version] [int] NOT NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAssignees]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AssignedBy] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaskAssignees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskComments]    Script Date: 4/17/2026 1:02:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NULL,
	[OutputRequirementId] [int] NULL,
	[SenderId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaskComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskOutputRequirements]    Script Date: 4/17/2026 1:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskOutputRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[AllowedFileFormat] [nvarchar](max) NULL,
	[Deadline] [datetime2](7) NULL,
	[PrimaryAssigneeId] [int] NULL,
	[SupportAssigneeIds] [nvarchar](max) NULL,
	[ExtendCount] [int] NOT NULL,
	[IsOverdue] [bit] NOT NULL,
	[OriginalDeadline] [datetime2](7) NULL,
	[OverdueMarkedAt] [datetime2](7) NULL,
	[OverdueReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskOutputRequirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskOutputSubmissions]    Script Date: 4/17/2026 1:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskOutputSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequirementId] [int] NOT NULL,
	[SubmittedBy] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReviewComment] [nvarchar](max) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaskOutputSubmissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/17/2026 1:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Deadline] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AssignedTo] [int] NULL,
	[GroupId] [int] NULL,
	[ExtendCount] [int] NOT NULL,
	[OriginalDeadline] [datetime2](7) NULL,
	[OverdueMarkedAt] [datetime2](7) NULL,
	[OverdueMarkedBy] [int] NULL,
	[OverdueReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskSubmissions]    Script Date: 4/17/2026 1:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskSubmissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[SubmittedBy] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NULL,
	[AdminComment] [nvarchar](max) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewComment] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[SubmissionRound] [int] NOT NULL,
 CONSTRAINT [PK_TaskSubmissions] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/17/2026 1:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260306034042_InitialCreate', N'10.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260307045626_AddAssignedToTask', N'10.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260313042800_AddTaskSubmission', N'10.0.3')
GO
SET IDENTITY_INSERT [dbo].[GroupMembers] ON 

INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [JoinedAt]) VALUES (1, 1, 2, N'Leader', CAST(N'2026-03-28T13:07:42.1857810' AS DateTime2))
INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [JoinedAt]) VALUES (2, 1, 3, N'Member', CAST(N'2026-03-28T13:07:42.1858381' AS DateTime2))
INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [JoinedAt]) VALUES (3, 1, 4, N'Member', CAST(N'2026-03-28T13:07:42.1858383' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GroupMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupId], [Name], [Description], [CreatedBy], [CreatedAt]) VALUES (1, N'Nhóm Demo TaskFlow', N'Nhóm mẫu để test hệ thống', 2, CAST(N'2026-03-28T13:07:42.1525186' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [Type], [Link], [IsRead], [CreatedAt]) VALUES (1, 3, N'Bạn được giao công việc mới: "thiết kế giao diện "', N'task_assigned', N'/Tasks/Details/2', 1, CAST(N'2026-03-28T13:32:07.9166902' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [Type], [Link], [IsRead], [CreatedAt]) VALUES (2, 4, N'Bạn được giao công việc mới: "thiết kế giao diện "', N'task_assigned', N'/Tasks/Details/2', 1, CAST(N'2026-03-28T13:32:07.9262000' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [Type], [Link], [IsRead], [CreatedAt]) VALUES (3, 2, N'Có bài nộp mới (lần 1) cho "thiết kế giao diện " đang chờ duyệt', N'submission_uploaded', N'/Tasks/Details/2', 1, CAST(N'2026-03-28T13:35:54.2527445' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskAssignees] ON 

INSERT [dbo].[TaskAssignees] ([Id], [TaskId], [UserId], [AssignedBy], [AssignedAt]) VALUES (1, 2, 3, 2, CAST(N'2026-03-28T13:32:07.9075356' AS DateTime2))
INSERT [dbo].[TaskAssignees] ([Id], [TaskId], [UserId], [AssignedBy], [AssignedAt]) VALUES (2, 2, 4, 2, CAST(N'2026-03-28T13:32:07.9254420' AS DateTime2))
INSERT [dbo].[TaskAssignees] ([Id], [TaskId], [UserId], [AssignedBy], [AssignedAt]) VALUES (3, 3, 4, 2, CAST(N'2026-04-06T15:11:27.1324743' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TaskAssignees] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskComments] ON 

INSERT [dbo].[TaskComments] ([CommentId], [TaskId], [OutputRequirementId], [SenderId], [Message], [SentAt]) VALUES (4, 5, NULL, 2, N'xin chào  mọi người', CAST(N'2026-04-07T21:20:55.1407993' AS DateTime2))
INSERT [dbo].[TaskComments] ([CommentId], [TaskId], [OutputRequirementId], [SenderId], [Message], [SentAt]) VALUES (5, 5, 4, 2, N'nhận nhiệm vụ đi đạt nhé', CAST(N'2026-04-07T21:21:47.1191654' AS DateTime2))
INSERT [dbo].[TaskComments] ([CommentId], [TaskId], [OutputRequirementId], [SenderId], [Message], [SentAt]) VALUES (6, 5, NULL, 3, N'hello sếp', CAST(N'2026-04-07T21:22:33.3931463' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TaskComments] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskOutputRequirements] ON 

INSERT [dbo].[TaskOutputRequirements] ([Id], [TaskId], [Name], [Description], [IsRequired], [SortOrder], [AllowedFileFormat], [Deadline], [PrimaryAssigneeId], [SupportAssigneeIds], [ExtendCount], [IsOverdue], [OriginalDeadline], [OverdueMarkedAt], [OverdueReason]) VALUES (1, 2, N'file báo cáo', N'file zip', 1, 0, NULL, NULL, NULL, NULL, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[TaskOutputRequirements] ([Id], [TaskId], [Name], [Description], [IsRequired], [SortOrder], [AllowedFileFormat], [Deadline], [PrimaryAssigneeId], [SupportAssigneeIds], [ExtendCount], [IsOverdue], [OriginalDeadline], [OverdueMarkedAt], [OverdueReason]) VALUES (2, 3, N'file bao cao ', N'ádfsafsdf', 1, 0, NULL, NULL, NULL, NULL, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[TaskOutputRequirements] ([Id], [TaskId], [Name], [Description], [IsRequired], [SortOrder], [AllowedFileFormat], [Deadline], [PrimaryAssigneeId], [SupportAssigneeIds], [ExtendCount], [IsOverdue], [OriginalDeadline], [OverdueMarkedAt], [OverdueReason]) VALUES (4, 5, N'file báo cáo', N'file làm chỉnh chu', 1, 0, N'.docx', CAST(N'2026-04-09T21:21:00.0000000' AS DateTime2), 3, N'4', 0, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaskOutputRequirements] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskOutputSubmissions] ON 

INSERT [dbo].[TaskOutputSubmissions] ([Id], [RequirementId], [SubmittedBy], [FileName], [FilePath], [Note], [Status], [ReviewComment], [ReviewedBy], [ReviewedAt], [SubmittedAt]) VALUES (1, 4, 3, N'Le Anh Quan_DeCuongKhoaLuan_HTTT .docx', N'/uploads/outputs/5/20260407_212342_Le Anh Quan_DeCuongKhoaLuan_HTTT .docx', N'em nộp sớm nhé', N'Pending', NULL, NULL, NULL, CAST(N'2026-04-07T21:23:42.1394949' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TaskOutputSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskId], [Title], [Description], [Status], [Priority], [Deadline], [CreatedBy], [CreatedAt], [AssignedTo], [GroupId], [ExtendCount], [OriginalDeadline], [OverdueMarkedAt], [OverdueMarkedBy], [OverdueReason]) VALUES (2, N'thiết kế giao diện ', N'ádfsafsfsdf', N'Doing', N'Medium', CAST(N'2026-03-29T13:30:35.2300000' AS DateTime2), 2, CAST(N'2026-03-28T13:32:07.8993846' AS DateTime2), NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tasks] ([TaskId], [Title], [Description], [Status], [Priority], [Deadline], [CreatedBy], [CreatedAt], [AssignedTo], [GroupId], [ExtendCount], [OriginalDeadline], [OverdueMarkedAt], [OverdueMarkedBy], [OverdueReason]) VALUES (3, N'thiết kế trang web ', N'ádfsfsfd', N'Doing', N'Medium', CAST(N'2026-04-07T15:10:40.0290000' AS DateTime2), 2, CAST(N'2026-04-06T15:11:26.9675176' AS DateTime2), NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tasks] ([TaskId], [Title], [Description], [Status], [Priority], [Deadline], [CreatedBy], [CreatedAt], [AssignedTo], [GroupId], [ExtendCount], [OriginalDeadline], [OverdueMarkedAt], [OverdueMarkedBy], [OverdueReason]) VALUES (5, N'thiết kế app di độnga', N'sdfasfasfasfasdf', N'Doing', N'High', CAST(N'2026-04-08T21:19:54.0370000' AS DateTime2), 2, CAST(N'2026-04-07T21:20:33.4715448' AS DateTime2), NULL, 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskSubmissions] ON 

INSERT [dbo].[TaskSubmissions] ([SubmissionId], [TaskId], [SubmittedBy], [FileName], [FilePath], [Note], [SubmittedAt], [IsApproved], [AdminComment], [ReviewedAt], [ReviewedBy], [ReviewComment], [Status], [SubmissionRound]) VALUES (1, 2, 3, N'Mai Thanh Dat_DeCuongKhoaLuan_HTTT (1).docx', N'/uploads/tasks/2/20260328_133554_Mai Thanh Dat_DeCuongKhoaLuan_HTTT (1).docx', N'em nộp nhé sếp', CAST(N'2026-03-28T13:35:54.2011385' AS DateTime2), 0, N'vẫn chưa được làm lại ', CAST(N'2026-03-28T13:36:57.6904827' AS DateTime2), 2, N'vẫn chưa được làm lại ', N'NeedsRevision', 1)
INSERT [dbo].[TaskSubmissions] ([SubmissionId], [TaskId], [SubmittedBy], [FileName], [FilePath], [Note], [SubmittedAt], [IsApproved], [AdminComment], [ReviewedAt], [ReviewedBy], [ReviewComment], [Status], [SubmissionRound]) VALUES (2, 2, 3, N'GD2. PHÂN TÍCH VÀ XÁC ĐỊNH YÊU CẦU BẰNG BIỂU ĐỒ UC.docx', N'/uploads/tasks/2/20260328_133750_GD2. PHÂN TÍCH VÀ XÁC ĐỊNH YÊU CẦU BẰNG BIỂU ĐỒ UC.docx', N'em gửi lại sếp ạ', CAST(N'2026-03-28T13:37:50.8212552' AS DateTime2), 0, NULL, CAST(N'2026-03-28T13:38:18.6744961' AS DateTime2), 2, NULL, N'NeedsRevision', 2)
SET IDENTITY_INSERT [dbo].[TaskSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'Quản trị viên', N'admin@taskflow.com', N'$2a$11$scar0VSKdXcPzLw6M8NCBe6M6Ma4yQsOR3AutR/FXuoz0JFSaRgxy', N'Admin', CAST(N'2026-03-28T13:07:41.4802756' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (2, N'Lê Anh Quân', N'quan@taskflow.com', N'$2a$11$CZUx6IylIkFiTZce/XHUeegFQc3DqCY8C2mRpYf53JhaVXFcW7Nca', N'User', CAST(N'2026-03-28T13:07:41.6117615' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (3, N'Mai Thành Đạt', N'dat@taskflow.com', N'$2a$11$vN2BGxXWhRaus36l4Q9n2uKCGKqCuhv.xlFg/n4gTMPaJHiOIani2', N'User', CAST(N'2026-03-28T13:07:41.7417328' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_GroupMembers_GroupId_UserId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GroupMembers_GroupId_UserId] ON [dbo].[GroupMembers]
(
	[GroupId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMembers_UserId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupMembers_UserId] ON [dbo].[GroupMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignees_TaskId_UserId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TaskAssignees_TaskId_UserId] ON [dbo].[TaskAssignees]
(
	[TaskId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignees_UserId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignees_UserId] ON [dbo].[TaskAssignees]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_OutputRequirementId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_OutputRequirementId] ON [dbo].[TaskComments]
(
	[OutputRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_SenderId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_SenderId] ON [dbo].[TaskComments]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_TaskId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_TaskId] ON [dbo].[TaskComments]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskOutputRequirements_PrimaryAssigneeId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskOutputRequirements_PrimaryAssigneeId] ON [dbo].[TaskOutputRequirements]
(
	[PrimaryAssigneeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskOutputRequirements_TaskId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskOutputRequirements_TaskId] ON [dbo].[TaskOutputRequirements]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskOutputSubmissions_RequirementId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskOutputSubmissions_RequirementId] ON [dbo].[TaskOutputSubmissions]
(
	[RequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_GroupId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_GroupId] ON [dbo].[Tasks]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskSubmissions_TaskId]    Script Date: 4/17/2026 1:02:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskSubmissions_TaskId] ON [dbo].[TaskSubmissions]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskOutputRequirements] ADD  DEFAULT ((0)) FOR [ExtendCount]
GO
ALTER TABLE [dbo].[TaskOutputRequirements] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOverdue]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [ExtendCount]
GO
ALTER TABLE [dbo].[TaskSubmissions] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[TaskSubmissions] ADD  DEFAULT ((0)) FOR [SubmissionRound]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Groups_GroupId]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Users_UserId]
GO
ALTER TABLE [dbo].[TaskAssignees]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignees_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskAssignees] CHECK CONSTRAINT [FK_TaskAssignees_Tasks_TaskId]
GO
ALTER TABLE [dbo].[TaskAssignees]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignees_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TaskAssignees] CHECK CONSTRAINT [FK_TaskAssignees_Users_UserId]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_TaskOutputRequirements_OutputRequirementId] FOREIGN KEY([OutputRequirementId])
REFERENCES [dbo].[TaskOutputRequirements] ([Id])
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_TaskOutputRequirements_OutputRequirementId]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_Tasks_TaskId]
GO
ALTER TABLE [dbo].[TaskComments]  WITH CHECK ADD  CONSTRAINT [FK_TaskComments_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TaskComments] CHECK CONSTRAINT [FK_TaskComments_Users_SenderId]
GO
ALTER TABLE [dbo].[TaskOutputRequirements]  WITH CHECK ADD  CONSTRAINT [FK_TaskOutputRequirements_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskOutputRequirements] CHECK CONSTRAINT [FK_TaskOutputRequirements_Tasks_TaskId]
GO
ALTER TABLE [dbo].[TaskOutputRequirements]  WITH CHECK ADD  CONSTRAINT [FK_TaskOutputRequirements_Users_PrimaryAssigneeId] FOREIGN KEY([PrimaryAssigneeId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TaskOutputRequirements] CHECK CONSTRAINT [FK_TaskOutputRequirements_Users_PrimaryAssigneeId]
GO
ALTER TABLE [dbo].[TaskOutputSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_TaskOutputSubmissions_TaskOutputRequirements_RequirementId] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[TaskOutputRequirements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskOutputSubmissions] CHECK CONSTRAINT [FK_TaskOutputSubmissions_TaskOutputRequirements_RequirementId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Groups_GroupId]
GO
ALTER TABLE [dbo].[TaskSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_TaskSubmissions_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskSubmissions] CHECK CONSTRAINT [FK_TaskSubmissions_Tasks_TaskId]
GO
USE [master]
GO
